Package: <%= packageName %>
Version: <%= version %>
Section: <%= section %>
Priority: <%= priority %>
Architecture: <%= architecture %>
Essential: <%= essential %>
Maintainer: <%= maintainer %>
Description: <%= packageDescription %>

